<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <magento_widepay>
                <active>1</active>
                <model>Magento\WidePay\Model\Payment\WidePay</model>
                <order_status>pending_payment</order_status>
                <title>WidePay</title>
                <can_use_checkout>1</can_use_checkout>
                <payment_action>order</payment_action>
            </magento_widepay>
        </payment>
    </default>
</config>
